<div class="col-sm-<$$= column[:column] $$> container-fileinput">
  <div class="form-group">
    <label for="image"><$$= column[:label] $$></label>
    <div class="input-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="image-preview">
            <$$- if <%= model_name.underscore %>.<%= column[:name] %>.attached? -$$>
            <$$
              preview = nil
              begin
                preview = <%= model_name.underscore %>.<%= column[:name] %>.blob.preview(resize: '600x300').processed
              rescue  => e
                preview = nil
              end
            $$>
            <$$ if preview.present? $$>
            <$$= image_tag url_for(preview.image), class:'img-fluid' -$$>
            <$$- else -$$>
            <$$= image_tag asset_path('document.jpg') -$$>
            <$$- end -$$>
            <$$- else -$$>
            <$$= image_tag asset_path('nodocument.jpg') -$$>
            <$$- end -$$>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="wrap-file-button mt-2">
            <span class="btn btn-primary">
              <i class="fas fa-file"></i>
              <$$= Settings.form.label.select_file -$$>
              <$$= form.file_field :<%= column[:name] %>, class:'_file', style: 'display:none', accept: '<%=  column[:content_type]  %>' -$$>
            </span>
          </label>
          <$$- if <%= model_name.underscore %>.<%= column[:name] %>.attached? -$$>
          <label class="wrap-file-button mt-2">
          <span class="btn btn-danger btn-file-delete"><i class="fas fa-trash"></i>&nbsp;<$$= Settings.form.label.destroy $$></span>
          </label>
          <$$- else $$>
          <label class="wrap-file-button mt-2">
            <span class="btn btn-danger btn-file-delete" style="display: none"><i class="fas fa-trash"></i>&nbsp;<$$= Settings.form.label.destroy $$></span>
          </label>
          <$$- end $$>
        </div>
      </div>
    </div>
  </div>
</div>

