<table class="table table-responsive-sm">
  <thead>
    <tr>
      <th width="120">ID</th>
      <th>氏名</th>
      <th>権限</th>
      <th>最終ログイン</th>
      <th width="200">操作</th>
    </tr>
  </thead>
  <% users.each do |user| -%>
    <tr>
      <td>
          <div>
            <%=user.id%>
            <% if user.access_locked? %>&nbsp;<span class="danger"> <i class="fas fa-user-lock"></i></span><%-end %>
          </div>
      </td>
      <td>
        <%=user.name%>
      </td>
      <td><%=user_role_icon(user)%> <%=user.role_name%></td>
      <td>
        <%- if user.confirmed_at.nil? %>
          <i class="fas fa-user-clock" style="color:#ccc"></i>&nbsp;&nbsp;確認待ち
        <%- else %>
          <%=user.last_sign_in_at ? feed_time(user.last_sign_in_at,true) : '--' %>
        <%-end%>
      </td>
      <td>
        <a class="btn-primary btn" href="<%=edit_admin_user_path(user)%>"><i class="far fa-edit"></i> 編集</a>&nbsp;
      </td>
    </tr>
  <%- end %>
</table>