<$$- if column[:options].present? && column[:options].length > 0 -$$>
<%= ApplicationController::render partial: 'rails/views/radio', locals:{ column: column, model: model,var_model: var_model } -%>
<$$- else -$$>
<div class="col-sm-<$$= column[:column] $$>">
  <div class="form-group">
    <label for="<%= column[:name] %>"><$$= column[:label] $$><$$= raw <%= model.name%>.required?(column[:name]) ? '<span class="label_required">' +  Settings.form.label.required + '</span>' : '' $$></label>
    <div class="input-group mb-3">
      <$$- if column[:icon].present? -$$>
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="<$$= column[:icon] $$>"></i></span>
        </div>
      <$$- end -$$>
      <$$= form.text_field <%= ':' + column[:name] %>, class: 'form-control', data: <%= model.name %>.parsley_data(column[:name]), placeholder: column[:placeholder] $$>
    </div>
  </div>
</div>
<$$- end -$$>

