  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-<$$= column[:column] $$>">
        <div class="form-group">
          <label for="<%= column[:name] %>"><$$= column[:label] $$><$$= raw <%= model.name%>.required?(column[:name]) ? '<span class="label_required">' +  Settings.form.label.required + '</span>' : '' $$></label>
          <$$ if <%= model.name %>.parsley_data(column[:name])['parsley_maxlength'].to_i > 0 -$$>
          <$$= form.text_area <%= ':' + column[:name] %>, rows: column[:rows], maxlength: <%= model.name %>.parsley_data(column[:name])['parsley_maxlength'].to_i, class: 'form-control _input-count', data: <%= model.name %>.parsley_data(column[:name]), placeholder: column[:placeholder] $$>
          <p class="_counter _hide-confirm" style="clear: both"></p>
          <$$- else $$>
          <$$= form.text_area <%= ':' + column[:name] %>, rows: column[:rows], class: 'form-control', data: <%= model.name %>.parsley_data(column[:name]), placeholder: column[:placeholder] $$>
          <$$- end -$$>
        </div>
      </div>
    </div>
  </div>
