<%= content_for :breadcrumb do %>
  <% items = [
      {url: '/admin', title: 'ホーム'},
      {url: "#{admin_users_path}", title: 'ユーザー一覧'},
      {title: 'ユーザー登録'},
  ]
  %>
  <%= render partial: 'layouts/breadcrumb', locals: {items: items} %>
<% end %>

<div class="container-fluid base">
  <div>
    <%= form_for @user, html: {class: 'form'} do |form| %>
      <div class="row">
        <div class="col-sm-12">

          <h1 class="func-title">ユーザー登録</h1>

          <div class="card">
            <div class="card-header">
              <strong><i class="fas fa-user-plus"></i>　ユーザー登録</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <%= render partial: 'admin/users/form', locals: {form: form, user: @user} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="regist-buttons-wrapper">
        <div class="card-footer regist-buttons">
          <button type="submit" class="btn btn-primary btn-lg">
            <i class="far fa-check-circle"></i> <%= @user.new_record? ? '登録' : '更新' %>
          </button>
          <a href="<%= admin_users_path %>" class="btn btn-default btn-lg">
            キャンセル
          </a>
        </div>
      </div>

    <% end %>
  </div>
</div>